body {
	/* Main page background colour */
	background-color: #353b48;

	/* Set up text */
	color: #dcdde1;
}

/* Set up header */
#header-block {
	color: #dcdde1;
	margin-top: 3%;
}

#main-title {
	margin-bottom: 1%;
	font-weight: bold;
}

#subtitle {
	margin-bottom: 5%;
}

/* Text box */
#userData {
	width: 80%;
	background-color: #718093;
	color: #dcdde1;
}

/* Buttons */
.descStatsButton {
	color: #dcdde1 !important;
	font-size: 1.2em !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.descStatsButton:hover {
	color: #718093 !important;
	border-color: #718093 !important;
}

#buttonsRow {
	margin-bottom: 3%;
}

/* Results table */
#resultsTable > tbody > tr > td {
	font-size: 1.5em !important;
}

/* Set up monospaced font for results */
.monospace-font {
	font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace;
}
