/* Set up background colour */
body {
  background-color: #353b48;
}

/* Set up header and spacer */
.header-block {
  color: #dcdde1;
  margin-top: 5%;
}
.spacer-block {
  margin-top: 5%;
}

/* Set up spacing between cells */
.ttt {
  border-spacing: 15px;
  border-collapse: separate;
  /* Remove bottom margin to fit on page */
  margin-bottom: 0;
}

/* Set up cells themselves */
.ttt > tbody > tr > td {
  /* Height/width */
  height: 130px;
  width: calc(100% / 3);

  /* Remove padding to properly centre text */
  padding-left: 0;
  padding-right: 0;

  /* Background colour */
  background-color: #4cd137;

  /* Rounded edges, remove default border */
  border-radius: .5em;
  border: none;

  /* Set up text */
  vertical-align: middle;
  text-align: center;
  font-size: 3em;
  color: #2f3640;
}